{% extends "base.html" %}
{% block content %}
        <div id="header" class="left">
          <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
          <a href="{{url_for('my_application') }}" class="btn">Applications</a>
          <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
          <a href="{{url_for('my_project') }}" class="btn">My Projects</a>
          <a href="{{url_for('account') }}" class="btn">Account</a>
        </div>
        

        <div class="card-wrapper">

            <div class="card">
                <div id="header" class="center">
                    <img class="rounded-circle account-img" src="{{ image_file }}">
 
                </div>
              <h1 class="center">Hello!  {{ session['user']['name'] }}</h1>
              <p class="center">You are currently logged in.</p>
              
              <!-- a function to upload a profile image,incomplete yet -->
              <!-- <input type="file"  accept="image/*" name="image" id="file" style="display: none;"> -->
              <form action="/action_page.php">
                <label for="img">Upload your profile</label>
                <input type="file" id="img" name="img" accept="image/*">
              </form>
              
              <br/>
        
              <div class="center">
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
              </div>
            
            </div>
        
            <div class="card">
        
              <h2 class="center">Your Info</h2>
        
              <p>
                <strong>Name:</strong> {{ session['user']['name'] }}<br>
                <strong>Email:</strong> {{ session['user']['email'] }}
              </p>

              <h2 class="left">Here you can manage your account.</h2>
                <div class="left">
                    <a href="/user/signout" class="btn btn--secondary">Account Setting</a>
                </div>
            
            </div>
          
          </div>

{% endblock %}