<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add your project</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/styles.css">
    <header>
      <div id="header" class="left">
        <a href="{{url_for('homepage') }}" class="btn">Home</a>
        <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
        <a href="{{url_for('my_project') }}" class="btn">My Project</a>
      </div>
    </header>
  </head>

<body>
    <div class="card-wrapper">

        <div class="card">
    
          <h1 class="center">Create A New Project</h1>
    
          <form action="http://127.0.0.1:5000/add_project" method="post">

            <label for="name">Project Name</label>
            <input type="text" name="name" class="field" required>
    
            <label for="member number">Member Number Requirment</label>
            <input type="member number" name="member number" class="field" required>
    
            <label for="department">Department Requirment</label>
            <input type="department" name="department" class="field" required>
    
            <label for="major">Major Requirment</label>
            <input type="major" name="major" class="field" required>

            <label for="school year">School Year Requirment</label>
            <input type="school year" name="school year" class="field" required>

            <label for="gpa">GPA Requirment</label>
            <input type="gpa" name="gpa" class="field" required>

            <label for="length">Project Length</label>
            <input type="length" name="length" class="field" required>

            <label for="skill">Skill Requirment</label>
            <input type="skill" name="skill" class="field" required>

            <label for="information">Extra Information</label>
            <input type="information" name="information" class="field" required>
    
            <input type="submit" value="Submit" class="btn">

          </form>
          
        </div>
      
      </div>

</body>
</html>
