<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/form.css">
      <header>
      <div id="header" class="left">
        <a href="{{url_for('homepage') }}" class="btn">Home</a>
      </div>
      </header>
  </head>
  <div class="card-wrapper">

    <div class="card">

        <h1 class="center">PROJECT HAS BEEN SUCCESSFULLY CREATED!</h1>
      
    </div>
  
  </div>

</body>
</html>
