<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/forms.css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <header> 
            <div id="header" class="left">
                <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
                <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
                <a href="{{url_for('my_project') }}" class="btn">My Project</a>
                <a href="{{url_for('account') }}" class="btn">Account</a>
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
        </header>
    </head>

    <body>  
        <div>
            <header>
                <h1>Projects Finder</h1>
            </header>
        </div>
    </body>

    <body>
      <main class="table">
          <section class="table__header">
              <h1>Projects List</h1>
              <div class="input-group">
                  <input type="search" placeholder="Search Id/Name/Owner/Profession...">
                  <img src="static/images/search.png" alt="">
              </div>
          </section>
          <section class="table__body">
              <table>
                  <thead>
                      <tr>
                          <th> Proj Id
                          <th> Name
                          <th> Sponsor
                          <th> Profession
                          <th> Application Status
                          <th> Application Deadline
                          <th> More detail
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td> 1001 </td>
                          <td> Happiness Explore </td>
                          <td> <img src="images/steven.jpg" alt=""> Harry </td>
                          <td> Computer Science </td>
                          <td>
                            <p class="status delivered">Available</p>
                          </td>
                          <td> <strong>17 Dec, 2023</strong></td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1002 </td>
                          <td> More AI </td>
                          <td><img src="images/steven.jpg" alt=""> Jeet </td>
                          <td> Computer Science </td>
                          <td>
                              <p class="status cancelled">Full</p>
                          </td>
                          <td> <strong>27 Aug, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1003</td>
                          <td> Demand or Supply </td>
                          <td><img src="images/steven.jpg" alt=""> Sonal </td>
                          <td> Finance </td>
                          <td>
                            <p class="status shipped">Waitlist</p>
                          </td>
                          <td> <strong>14 Mar, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1004</td>
                          <td> Pi </td>
                          <td><img src="images/steven.jpg" alt=""> Smith </td>
                          <td> Math </td>
                          <td>
                            <p class="status delivered">Available</p>
                          </td>
                          <td> <strong>25 May, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1005</td>
                          <td> Hardware </td>
                          <td><img src="images/steven.jpg" alt=""> Sarita </td>
                          <td> Computer Engineering </td>
                          <td>
                            <p class="status pending">Canceled</p>
                          </td>
                          <td> <strong>23 Apr, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1006</td>
                          <td> Software </td>
                          <td><img src="images/steven.jpg" alt=""> Aayat </td>
                          <td> Computer Science </td>
                          <td>
                            <p class="status pending">Canceled</p>
                          </td>
                          <td> <strong>30 Feb, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td> 1007</td>
                          <td> Mars Robot </td>
                          <td><img src="images/steven.jpg" alt=""> Alson </td>
                          <td> Computer Engineering </td>
                          <td>
                              <p class="status cancelled">Full</p>
                          </td>
                          <td> <strong>22 Dec, 2023</strong> </td>
                          <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <td> 1008</td>
                        <td> App </td>
                        <td><img src="images/steven.jpg" alt=""> Imperial </td>
                        <td> Computer Science </td>
                        <td>
                            <p class="status delivered">Available</p>
                        </td>
                        <td> <strong>26 Sep, 2023</strong> </td>
                        <td> 
                          <div class="export__file">
                              <label for="export-file" class="export__file-btn" title="Export File"></label>
                              <input type="checkbox" id="export-file">
                              <div class="export__file-options">
                                  <label>Export As &nbsp; &#10140;</label>
                                  <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                  <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                  <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                  <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                              </div>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 1009</td>
                        <td> Wireless </td>
                        <td><img src="images/steven.jpg" alt=""> John </td>
                        <td> Computer Engineering </td>
                        <td>
                            <p class="status delivered">Available</p>
                        </td>
                        <td> <strong>12 Dec, 2023</strong> </td>
                        <td> 
                          <div class="export__file">
                              <label for="export-file" class="export__file-btn" title="Export File"></label>
                              <input type="checkbox" id="export-file">
                              <div class="export__file-options">
                                  <label>Export As &nbsp; &#10140;</label>
                                  <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                  <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                  <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                  <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                              </div>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 1010</td>
                        <td> Learning Machine </td>
                        <td><img src="images/steven.jpg" alt=""> Robert </td>
                        <td> Computer Engineering </td>
                        <td>
                            <p class="status shipped">Waitlist</p>
                        </td>
                        <td> <strong>07 Dec, 2023</strong> </td>
                        <td> 
                          <div class="export__file">
                              <label for="export-file" class="export__file-btn" title="Export File"></label>
                              <input type="checkbox" id="export-file">
                              <div class="export__file-options">
                                  <label>Export As &nbsp; &#10140;</label>
                                  <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                  <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                  <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                  <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                              </div>
                          </div>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </section>
      </main>
  </body>
</html>