<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/forms.css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <header> 
            <div id="header" class="left">
                <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
                <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
                <a href="{{url_for('my_project') }}" class="btn">My Project</a>
                <a href="{{url_for('account') }}" class="btn">Account</a>
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
        </header>
    </head>

    <body>  
        <div>
            <header>
                <h1>Projects Finder</h1>
            </header>
        </div>
    </body>

    <body>
      <main class="table">
          <section class="table__header">
              <h1>Projects List</h1>
              <div class="input-group">
                  <input type="search" placeholder="Search Id/Name/Owner/Profession...">
                  <img src="static/images/search.png" alt="">
              </div>
          </section>
          <section class="table__body">
              <table>
                  <thead>
                      <tr>
                          <th> Project Id
                          <th> Name
                          <th> Sponsor
                          <th> Profession
                          <th> Application Status
                          <th> Application Deadline
                          <th> More Details
                      </tr>
                  </thead>
                  <tbody>
                        {% for i in range(project_lst |length)%}
                        <tr>
                            <td> {{i}} </td>
                            <td> {{project_lst[i].name}} </td>
                            <td> <img src="static/images/steven.jpg" alt=""> {{project_lst[i].account.name}} </td>
                            <td> {{project_lst[i].department_name}} </td>
                            <td>
                            <p class="status delivered">Available</p>
                            </td>
                            <td> <strong>{{project_lst[i].post_date}}</strong></td>
                            <td> 
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn"><img src="static/images/more_details.png" alt=""></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="static/images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="static/images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="static/images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="static/images/excel.png" alt=""></label>
                                </div>
                            </div>
                            </td>
                        {%endfor%}
                        </tr>
                  </tbody>
              </table>
          </section>
      </main>
  </body>
</html>