<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" href="/static/forms.css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/footer_style.css">

        <title>Home</title>
            <div id="header" class="left">
              <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
              <a href="{{url_for('my_application') }}" class="btn">Applications</a>
              <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
              <a href="{{url_for('my_project') }}" class="btn">My Projects</a>
              <a href="{{url_for('account') }}" class="btn">Account</a>
            </div>
    </head>

  <body>
    {% for message in get_flashed_messages() %}
  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

  </body>

    <body>  
        <div>

        <br /> 
        <br /> 


            <h1><strong>My Own Projects</strong></h1>
            <small>Here are all the projects you have created</small>
          </br>
            <h1>We appreciate your interest in submitting your project to our site. We would like to inform you that it may take 2-5 days for your project to pass through our review process and be published on our site. This is because we receive a large number of project submissions, and we want to ensure that each project meets our standards and guidelines.

              During the review process, our team will carefully evaluate your project to ensure that it meets our requirements and is suitable for publication on our site. We may need to request additional information from you or make some revisions to your project before it can be approved.
              
              We understand that you may be eager to have your project published as soon as possible, and we will do our best to complete the review process as quickly as we can. However, we also want to ensure that our site maintains high quality standards and that all projects are given the attention they deserve.
              
              Thank you for your understanding and patience. We look forward to reviewing your project and sharing it with our community.
              
              Best regards,
              The Project Review Team</h1>
        </div>
    </body>

    <body>
      <main class="table">
          <section class="table__header">
              <h1><strong>(Sponsor Only)</strong></h1>
          </section>
          <section class="table__body">
              <table>
                  <thead>
                      <tr>
                          <th> Project Status
                          <th> Project Id
                          <th> Project Name
                          <th> Current/Required
                          <th> Manage Applicants
                          <th> Manage Project information
                      </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td>
                              <p class="status cancelled">NOT FULL</p>
                            </td>
                            <td> 1001 </td>
                            <td> Project_name1 </td>
                            <td> 11/19 </td>
                            <td> (Button) </td>
                            <td> (Button) </td>
                        </tr>
                  </tbody>
              </table>
          </section>
      </main>
    </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <body>
    <footer class="footer">
        <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

        </ul>
        <p>&copy;2023 Beijing GHWXZ</H1> | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>

</html>
