<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" href="/static/forms.css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/footer_style.css">

        <title>Home</title>
        <header> 
            <div id="header" class="left">
              <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
              <a href="{{url_for('my_application') }}" class="btn">Applications</a>
              <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
              <a href="{{url_for('my_project') }}" class="btn">My Projects</a>
              <a href="{{url_for('account') }}" class="btn">Account</a>
            </div>
        </header>
    </head>

  <body>
    {% for message in get_flashed_messages() %}
  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

  </body>

    <body>  
        <div>

        <br /> 
        <br /> 

            <header>
                <h1><strong>My Own Projects</strong></h1>
            </header>
        </div>
    </body>

    <body>
      <main class="table">
          <section class="table__header">
              <h1><strong>(Sponsor Only)</strong></h1>
              <div class="input-group">
                <input type="search" placeholder="Search Id/Name...">
                <img src="static/images/search.png" alt="">
              </div>
          </section>
          <section class="table__body">
              <table>
                  <thead>
                      <tr>
                          <th> Project Id
                          <th> Name
                          <th> Applications
                          <th> Status
                      </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td> 1001 </td>
                            <td> Project_name1 </td>
                            <td> (Button) </td>
                            <td>
                              <p class="status delivered">Full</p>
                            </td>
                        </tr>
                  </tbody>
              </table>
          </section>
      </main>
    </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <body>
    <footer class="footer">
        <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

        </ul>
        <p>&copy;2023 Beijing GHWXZ</H1> | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>

</html>
