<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/footer_style.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home</title>
        <header> 
            <div id="header" class="left">
                <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
                <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
                <a href="{{url_for('my_project') }}" class="btn">My Project</a>
                <a href="{{url_for('account') }}" class="btn">Account</a>
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
        </header>
    </head>

    <br/>

    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ project.name }}</h2>
        <small>By: {{ project.account.name }}<br/>
        Posted on {{ project.post_date.strftime("%m-%d-%Y") }}</small> <br/><br/>

        <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Department:</th>
                <th>{{ project.department_name }}</th>
              </tr>
              <tr>
                <th scope="row">Number of Member Needed:</th>
                <th>{{ project.num_members }}</th>
              </tr>
              <tr>
                <th scope="row">Intened Majors</th>
                <th>{{ project.major_requirements }}</th>
              </tr>
              <tr>
                <th scope="row">Minimum School Year Required</th>
                <th>{{ project.school_year }}</th>
              </tr>
              <tr>
                <th scope="row">Minimum GPA Required</th>
                <th>{{ project.GPA }}</th>
              </tr>
              <tr>
                <th scope="row">Project duration</th>
                <th>{{ project.project_duration}}</th>
              </tr>
              
            </tbody>
          </table>
    

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Project Description
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{ project.description}}</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>

    </br> 
    </br>   

    <a href="{{ url_for('homepage')}}" class="btn btn-outline-secondary btn-sm">Back To Projects</a>


</html>