<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        <!-- Our CSS -->
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/footer_style.css">


        <title>Home</title>
            <div id="header" class="left">
                <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
                <a href="{{url_for('my_application') }}" class="btn">Applications</a>
                <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
                <a href="{{url_for('my_project') }}" class="btn">My Project</a>
                <a href="{{url_for('account') }}" class="btn">Account</a>
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
    </head>

    <br/>


    <div class="shadow p-3 mb-5 bg-white rounded">
        
        <h2>{{ project.name }}</h2>
        <a href="{{ url_for('homepage')}}" class="btn btn-outline-dark float-right" style="border-color: #57068c; border-width: 2px;" role="button">
            Back to projects</a>
        
        <a href="{{ url_for('my_application')}}" class="btn btn-outline-dark float-right" style="border-color: #57068c; border-width: 2px; margin-right: 25px;" role="button">
            Apply now</a>
    
        <small>By: {{ project.account.name }}<br/>
        Posted on {{ project.post_date.strftime("%m-%d-%Y") }}</small> <br/><br/>

        <div class="row">
            <div class="col-lg-8">
                <div class="shadow p-4 mb-4 bg-white rounded">
                <table class="table table-striped table-hover table-borderless" style="width: 850px; height: 450px">

                    <tbody>
                    <tr>
                        <th scope="row" >Department:</th>
                        <th >{{ project.department_name }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Number of Member Needed:</th>
                        <th>{{ project.num_members }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Intened Majors</th>
                        <th>{{ project.major_requirements }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Minimum School Year Required</th>
                        <th>{{ project.school_year }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Minimum GPA Required</th>
                        <th>{{ project.GPA }}</th>

                    <tr>
                        <th scope="row">Project Status</th>
                        <th><span class="badge badge-success">OPEN</span></th>
                    </tr>

                    </tr>
                    <tr>
                        <th scope="row">Project duration</th>
                        <th>{{ project.project_duration}}</th>
                    </tr>

                    
                    <tr>
                        <th scope="row">Sponsor / Project Leader </th>
                        <th>{{ project.account.name}} 
                        </br>
                        <a href="#" style="color: #57068c;"> {{ project.account.email}} </a> </th>
                    </tr>

                    </tbody>
                </table>
                </div>
            </div>
        
        
            <div class="col-lg-2">
                <div class="card border-light mb-3" style="height:300px; width:400px" >
                    <div class="card-header" style="background-color: #57068c; color:white">
                        <h6 class="card-title">Project Description</h6></div>
                    <div class="card-body">
                        <p>{{ project.description}}</p>
                    </div>
                </div>

                <div class="card border-light mb-3" style="height:200px; width:400px" >
                    <div class="card-header" style="background-color: #57068c; color:white">
                        <h6 class="card-title">File Uploaded</h6></div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                        <li><a href="#" style="color:#57068c;">file1.pdf</a></li>
                        <li><a href="#" style="color:#57068c;">file2.docx</a></li>
                        <li><a href="#" style="color:#57068c;">file3.jpg</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



</html>