{%extend 'homepage.html' %}
{%block title%}{{title}}{%endblock%}
{%block content%}
    <div class=""container>
        <h1>Subscribe website..</h1>
        <br/><br/>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{%endblock%}


<!-- reference:https://getbootstrap.com/docs/4.1/components/forms/ -->