<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/styles.css">
    <div id="header" class="left">
        <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
        <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
        <a href="{{url_for('my_project') }}" class="btn">My Project</a>
        <a href="{{url_for('account') }}" class="btn">Account</a>
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
    </div>
  </head>

<body>
    <table >
        <th>Topic</th>
        <th>Leader of the project</th>
        <th>Open until</th>
        <th>Subject/Major</th>
        <th>Number of person needed</th>
        <th>phone number</th>
        <th>email</th>
    {% if posts%}
    {% for line in posts %}
        <tr>
            <td>{{line['topic']}}</td>
            <td>{{line['leader']}}</td>
            <td>{{line['date']}}</td>
            <td>{{line['subject']}}</td>
            <td>{{line['need_person']}}</td>
            <td>{{line['phone']}}</td>
            <td>{{line['email']}}</td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
</body>
</html>
