* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
}

.tabs .tab-header {
    width: 150px;
    height: 100%;
    z-index: 3;
    background-color: #f5f5f5;
    
}

.tabs .tab-header div {
    position: relative;
    height: 16.66%;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tabs .tab-header div:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 0%;
    height: 100%;
    background: #222;
    z-index: -1
}

.tabs .tab-header div:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: #222;
    /* left: calc(100% - 15px); */
    left: -100%;
    transform: translateY(-50%) rotate(45deg);
}

.tabs .tab-header div.active {
    color: #f5f5f5;
}

.tabs .tab-header div.active:before {
    left: 0px;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.tabs .tab-header div.active:after {
    left: calc(100% - 15px);
    transition: all 200ms ease-in-out 300ms;
}

.tabs .tab-body {
    margin: 0 auto;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body>div {
    width: 100vw;
    height: 100vh;
    padding: 10vh 0px;
    /* background-color: #222; */
}

.tabs .tab-body div h2 {
    font-size: 40px;
    margin-bottom: 0px;
    color: #222;
}

.block {
    position: relative;
    width: 1050px;
    height: 700px;
    margin: 0px 300px 20px 80px;
    border-radius: 25px;
    z-index: 1;
}

h3 {
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 32px;
    color: #f5f5f5;
}

.block-1 {
    background: url(person1.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url(person2.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url(person3.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url(img-four.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.container {
    margin-top: 50px;
    margin-left: 200px;
}


.block2 {
    position: relative;
    width: 1050px;
    height: 700px;
    /* margin-top: 100hw;
    margin-left: 100vh; */
    margin: 10px 400px 20px 80px;
    border-radius: 25px;
    z-index: -1
}

h1 {
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 32px;
    color: #f5f5f5;
}

.block-5 {
    background: url(project1.png) no-repeat 50% 50%;
    background-size: 800px;
    /* background-size: cover; */
    background-color: black;
}

.block-6 {
    background: url(project2.png) no-repeat 50% 50%;
    background-size: 500px;
    /* background-size: cover; */
    background-color: black;
}

.block-7 {
    background: url(project3.png) no-repeat 50% 50%;
    background-size: 600px;
    background-color: black;
}

.block-8 {
    background: url(project4.png) no-repeat 50% 50%;
    background-size: cover;
}

.container2 {
    margin-top: 50px;
    margin-left: 200px;
}

#image {
    display: none;
}

img {
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

button {
    font-weight: 600;
    font-size: 18px;
    width: 350px;
    height: 100px;
    border-radius: 25px;
}



.block3 {
    position: relative;
    width: 1050px;
    height: 700px;
    margin: 0px 300px 20px 80px;
    border-radius: 25px;
    z-index: 1;
}


.block-9 {
    
    width: 1050px;
    height: 700px;
    background: url(project2.png) no-repeat 50% 50%;
    background-size: 500px;
    /* background-size: cover; */
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.block-10 {
    background: url(project3.png) no-repeat 50% 50%;
    background-size: 600px;
    background-color: black;
}

.block-11 {
    background: url(project4.png) no-repeat 50% 50%;
    background-size: cover;
}

.block-12 {
    background: url(project4.png) no-repeat 50% 50%;
    background-size: cover;
}

.container3 {
    margin-top: 50px;
    margin-left: 200px;
}



.block_all {
    position: relative;
    width: 1050px;
    height: 700px;
    /* margin: 0px 300px 20px 80px; */
    border-radius: 25px;
    z-index: 2;
    word-break: break-all;

}

.square {
    position: fixed;
    width: 1050px;
    height: 700px;
    border-radius: 25px;
    background-color: rgb(221,207,255);
    white-space: normal;

  }