body {
    margin: 0;
    font-family: Aldrich;
}

.container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-snap-type: y proximity; */
}

h1 {
    font-size: 48px;
}

p {
    /* margin-left: 10%;
    margin-right: 10%; */
    font-size: 24px;
    line-height: 1.6;
}

img {
    display: none;
}

.highlighted {
    font-style: italic;
    background-color: rgb(115, 236, 161);
    cursor: pointer;
}

span:hover+img {
    display: block;
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
}

.eye {
    z-index: 2;
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-color: #f0eedb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 150px 0;
    cursor: pointer;
    overflow: hidden;
}

.eyeball {
    width: 40px;
    height: 40px;
    background-color: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 30px solid #576574;
    cursor: pointer;
}

.shut {
    width: 300px;
    height: 300px;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;
    cursor: pointer;
}

.shut span {
    display: block;
    width: 100%;
    height: 10%;
    background-color: rgb(87, 6, 140);
    border-radius: 0 0 60% 60%;
    transition: 2s all;
}

.eye:hover>.shut span {
    height: 100%;
}

.rotateImage {
    background-image: url("net.png");
    /* z-index: 1;
    opacity: 0.0; */
    position: absolute;
    width: 900px;
    height: 900px;
    top: 50%;
    left: 50%;
    margin-top: -450px;
    margin-left: -450px;
    animation: rotation 6s infinite linear;
}

.transparent {
    position: absolute;
    width: 570px;
    height: 570px;
    opacity: 0.0;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: #000000;
    margin-top: -285px;
    margin-left: -285px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.div1,
.div2,
.div3,
.div4 {
    height: 100vh;
    scroll-snap-align: start;
}

.div1 {
    background-color: rgb(238, 230, 243);
}

.div2 {
    background-color: #ffffff;
    font-family: Aldrich;
    color: #000000;
    padding: 10%;
}

.div3 {
    /* background-color: pink; */
    background-image: url("map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.skin {
    height: 100vh;
    background-color: rgba(255, 180, 253, 0.3);
}

.tooltip {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(100px, 200px);
    background: url('virus.png');
    background-repeat: no-repeat;
    background-size: 100px;
    z-index: 1;
}

.tooltip:hover {
    z-index: 2;
    width: 1000px;
    height: 1000px;
    transform: translate(100%);
    background-color: yellow;
}

.empty {
    position: relative;
    width: 1500px;
    height: 100px;
    background-color: aliceblue;
    opacity: 0;
}

.square {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(-1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_2 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_3 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(-1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_4 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(1000px);
    background: url('chain.png');
    background-size: 800px;
}


/* The sidepanel menu */

.sidepanel_1 {
    height: 100vh;
    float: right;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 3;
}


/* The sidepanel links */

.sidepanel_1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel_1 a:hover {
    color: green;
}


/* Position and style the close button (top right corner) */

.sidepanel_1 .closebtn {
    position: relative;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}

.sidepanel_2 {
    height: 100vh;
    float: right;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 3;
}


/* The sidepanel links */

.sidepanel_2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel_2 a:hover {
    color: green;
}


/* Position and style the close button (top right corner) */

.sidepanel_2 .closebtn {
    position: relative;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}


/* Style the button that is used to open the sidepanel */

.openbtn_2 {
    width: 200px;
    height: 200px;
    transform: translate(90%, 100%);
    font-size: 20px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 2;
    background-color: black;
    background-size: 100px;
    padding: 10px 15px;
    border: none;
    opacity: 0;
}

.openbtn_2:hover {
    background-color: #444;
}

.openbtn_2_fake {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    transform: translate(90%, 100%);
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url("vaccine.png");
}

.sidepanel_3 {
    height: 100vh;
    float: right;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 3;
}


/* The sidepanel links */

.sidepanel_3 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel_3 a:hover {
    color: green;
}


/* Position and style the close button (top right corner) */

.sidepanel_3 .closebtn {
    position: relative;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}


/* Style the button that is used to open the sidepanel */

.openbtn_3 {
    width: 200px;
    height: 200px;
    transform: translate(650%, 50%);
    font-size: 20px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 2;
    background-color: black;
    background-size: 100px;
    padding: 10px 15px;
    border: none;
    opacity: 0;
}

.openbtn_3:hover {
    background-color: #444;
}

.openbtn_3_fake {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    transform: translate(650%, 50%);
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url("mask.png");
}

.sidepanel_4 {
    height: 100vh;
    float: right;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 3;
}


/* The sidepanel links */

.sidepanel_4 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel_4 a:hover {
    color: green;
}


/* Position and style the close button (top right corner) */

.sidepanel_4 .closebtn {
    position: relative;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}


/* Style the button that is used to open the sidepanel */

.openbtn_4 {
    width: 200px;
    height: 200px;
    transform: translate(650%, 250%);
    font-size: 20px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 2;
    background-color: black;
    background-size: 100px;
    padding: 10px 15px;
    border: none;
    opacity: 0;
}

.openbtn_4:hover {
    background-color: #444;
}

.openbtn_4_fake {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    transform: translate(650%, 250%);
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url("hosptial.png");
}

.sidepanel_5 {
    height: 100vh;
    float: right;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 3;
}


/* The sidepanel links */

.sidepanel_5 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel_5 a:hover {
    color: green;
}


/* Position and style the close button (top right corner) */

.sidepanel_5 .closebtn {
    position: relative;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}


/* Style the button that is used to open the sidepanel */

.openbtn_5 {
    width: 200px;
    height: 200px;
    transform: translate(180%, 280%);
    font-size: 20px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 2;
    background-color: black;
    background-size: 100px;
    padding: 10px 15px;
    border: none;
    opacity: 0;
}

.openbtn_5:hover {
    background-color: #444;
}

.openbtn_5_fake {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    transform: translate(180%, 280%);
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url("medical.png");
}

.scroller {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    scrollbar-width: thin;
}

.column {
    flex: 50%;
    width: 50%;
    padding: 5px;
}

.row {
    display: flex;
}

.FEP {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-image: url("FEP.jpg");
}

.FRAME {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url("frame.png");
}

.EVANROTH {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url("EvanRoth.jpg");
}

.EVASIVE {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url("evasive.png");
}

.ST {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url("ST.png");
}

.TEP {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url("TEP.jpg");
}